html {
 background:rgb(100,100,100);
 overflow-y:scroll;
 overflow-x:hidden;

}

#title {
	
	position:absolute;
	margin-left:-205px;
	margin-top:-100px;
	top:50%;
	left:50%;
	color:white;
	font-family:helvetica;
	z-index:-1;
	font-weight: normal;
	letter-spacing: 9px;
	font-size:400%
	

}



p {
    color:rgb(180,180,180);
    background-color: transparent;
    text-decoration: none;
	transition: all .1s linear;
	
}

p:hover {
    color:rgb(180,180,180);
    background-color: transparent;
    text-decoration: none;
	transition: all .1s linear;
	
}

p:active {
    color:rgb(130,130,130);
    background-color: transparent;
    text-decoration: none;
	transition: none;
	
}

#test{
	position:absolute;
	cursor:pointer;
	opacity: 1;
	transition:all .1s linear;
}

#test:hover {
	position:absolute;
	cursor:pointer;
	opacity: 0.2;
	transition:all .1s linear;
}

#test:active {
	position:absolute;
	cursor:pointer;
	opacity: 0;
}

#bg {
	position:fixed;
	z-index:-2;
}

#bar {
	position:fixed;
	z-index:1;
}

#bartext {
	position:fixed;
	right:10%;
	z-index:2;
	font-size:60%;
	top:-8px; 
	cursor:pointer;
}

#scroll {
	position:fixed;
	z-index:2;
	font-size:120%;
	top:-8px; 
}

#logo {
	position:fixed;
	top:10px; left:15%;
	z-index:2;
	height:25px;
	width:76px;
	cursor:pointer;
	transition: all .1s linear;
}

#logo:hover {
	transition: all .1s linear;
	opacity:0.5;
}

#logo:active {
	transition: all .1s linear;
	opacity:0.1;
}

#logo_gray {
	position:fixed;
	top:10px; left:15%;
	z-index:1;
	height:25px;
	width:76px;
	cursor:pointer;
}

#demo {
	position:absolute;
	z-index:5;
}


#titletext {color:white;
	position:absolute;
	z-index:-1;
	margin-left:-360px;
	margin-top:-30px;
	top:50%;
	left:50%;
	font-size:200%;
	text-align:center;
	font-family:helvetica;
}

#about {color:rgb(50,50,50);
	position:absolute;
	z-index:0;
	margin-left:-490px;
	margin-top:1150px;
	top:200px;
	left:50%;
	font-size:200%;
	text-align:center;
	font-family:helvetica;
}

#pics{
	position:relative;
	left:50;
}


p {color:white;
	font-size:200%;
	text-align:center;
	font-family:helvetica;
}

.teenvoice_smalllogo {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}
.video_cats_row {
  margin: 0px 0;
  height: 300px;
  width: 300px;
  border: 10px solid;
  line-height: 300px;
  text-align: center;
}
